.NavigationItem {
    list-style: none;
    text-align: center;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.NavigationItem a {
    color: #fff;
}

.NavigationItem a:hover {
    color: #fff;
    text-decoration: none;
}