.Layout {
    position: fixed;
    display: flex;
    z-index: 500;
    background-color: white;
    width: 75%;
    height: 80%;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.25);
    left: 12.5%;
    top: 10%;
    box-sizing: border-box;
    border-radius: 20px;
}

.Content {
    padding: 57px 25px;
    width: 100%;
    overflow-x: hidden; 
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
.Content::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.Layout .SideDrawer {
    width: 33%;
}

.Icon {
    display: none;
    padding: 4px;
}

@media (max-width: 1024px) {
    .Layout {
        height: 90%;
        top: 5%;
        width: 90%;
        left: 5%;
    }

    .Content {
        padding: 35px 25px;
    }
}

@media (max-width: 768px) {
    .Layout {
        height: 100%;
        top: 0%;
        width: 100%;
        left: 0%;
        border-radius: 0;
    }

    .Layout .SideDrawer {
        width: auto;
    }

    .Icon {
        display: block;
    }
}